.movie-info{
    margin-top: 25px;
    height: 1000px;
}
.star-vote{
    width:120px;
    height:20px;
    position:relative;
    overflow:hidden;
    display: inline-block;
}
.star-vote>span{
    position:absolute;
    width:120px;
    height:20px;
    background-size:cover;
    background-repeat:no-repeat;
    left:0px;
    top:0px;
}
.star-vote>.add-star{
    background-image:url("https://sfault-image.b0.upaiyun.com/317/580/3175806580-5628ec8e88103_articlex");
}
.star-vote>.del-star{
    background-image:url("https://sfault-image.b0.upaiyun.com/121/466/121466800-5628eb31a4f2b_articlex");
}
.sm-title,
.cp-title,
.cm-title{
    color: #007722;
}
.cast-photo img{
    width: 150px;
    height: 180px;
}